<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtBcYMVxk8wZNOuigS7ydZTlBdKXkhkk8</string>
	<key>GCM_SENDER_ID</key>
	<string>220613005598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoyol.SweatWatch</string>
	<key>PROJECT_ID</key>
	<string>sweat-and-shine</string>
	<key>STORAGE_BUCKET</key>
	<string>sweat-and-shine.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220613005598:ios:5c85b9b84e9af092f3790f</string>
</dict>
</plist>